.saved-results__container {
    display: grid;
    margin: 0 auto;
    grid-gap: 16px;
    grid-template-columns: repeat(auto-fill, 400px);
    justify-content: center;
    
}

@media screen and (max-width: 820px) {
    .saved-results__container {
        grid-gap: 8px;
        grid-template-columns: repeat(auto-fill, 224px);
    }
}

@media screen and (max-width: 536px) {
    .saved-results__container {
        grid-gap: 10px;
        grid-template-columns: repeat(auto-fill, 288px);
    }
}