.button {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    display: block;
    border: none;
    border-radius: 100px;
    background-color: #2F71E5;
    color: white;
    outline: none;
    box-shadow: 0px 5px 15px rgba(14, 26, 57, 0.2);
    cursor: pointer;
}
  
.button:hover {
    background-color: #347EFF;
}
  
.button:active {
    background-color: #2A65CC;
}