.popup__input-error {
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #FF0000;
    margin: 0;

}

.popup__input:invalid:not(:placeholder-shown) + .popup__input-error {
    display: block;
}

.popup__form-error_on {
  display: block;
}