@import url('./__container/saved-results__container.css');

.saved-results {
    padding: 62px 0;
    width: 100%;
    box-sizing: border-box;
    
    background: #F5F6F7;
}

@media screen and (max-width: 820px) {
    .saved-results {
        padding: 32px 0;
    }
  }
  
  @media screen and (max-width: 536px) {
    .saved-results {
        padding: 24px 0;
    }
  }