{
  "globals": {
    "window": true,
    "document": true,
    "fetch": true
  },
  "extends": "airbnb-base",
  "rules": {
    "no-underscore-dangle": [
      "error",
      {
        "allowAfterThis": true,
        "allow": [
          "_id"
        ]
      }
    ],
    "no-console": "off",
    "no-undef": "off",
    "no-new": "off",
    "arrow-parens": [
      "error",
      "as-needed"
    ]
  }
}