.header__nav-item-icon {
    margin-left: 10px;
    background-image: url(../../../images/logout-black.svg);
    width: 24px;
    height: 24px;
}

@media screen and (max-width: 767px) {
  .header__nav-item-icon {
      background-image: url(../../../images/logout-white.svg);
  }
}