@import url('./__about/author__about.css');
@import url('./__photo/author__photo.css');
@import url('./__text/author__text.css');
@import url('./__title/author__title.css');
.author {
  display: flex;
  padding: 80px 104px;
  width: 100%;
  box-sizing: border-box;
}

@media screen and (max-width: 1000px) {
  .author {
    padding: 40px 40px 61px;
  }
    
}

@media screen and (max-width: 625px) {
  .author {
    flex-direction: column;
    align-items: center;
    
  }
    
}

@media screen and (max-width: 480px) {
  .author {
    
    padding: 32px 16px;
  }
    
}