.header__title {
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 64px;
    color: white;
    margin-top: 0;
    margin-bottom: 32px;
}

@media screen and (max-width: 768px) {
    .header__title {
        font-size: 36px;
        line-height: 40px;
        margin-bottom: 16px;
        max-width: 385px;
    }
}