.news-card__trash {
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: white;
    top: 24px;
    right: 24px;
    border: none;
    border-radius: 8px;
    background-image: url(../../../images/trash.svg);
    background-repeat: no-repeat;
    background-position: 50%;
    cursor: pointer;
    outline: none;
}
.news-card__trash:hover {
    background-image: url(../../../images/trash-hover.svg);
}

@media screen and (max-width: 820px) {
    .news-card__trash {
        top: 8px;
        right: 8px;
    }
}

@media screen and (max-width: 536px) {
    .news-card__trash {
        top: 16px;
        right: 16px;
    }
}