.popup__content {
    width: 430px;
    min-height: 182px;
    background-color: #fff;
    border-radius: 16px;
    position: relative;
    box-sizing: border-box;
    padding: 34px 36px 28px;
}


@media screen and (max-width: 380px) {
    .popup__content {
        padding: 16px;
        position: fixed;
        width: 100%;
        bottom: 0;
        height: calc(100vh - 56px);
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;

    }
}