
.popup__input {
    width: 100%;
    border: 0;
    border-bottom: 1px solid rgba(0,0,0,.2);
    box-sizing: border-box;
    font-family: Inter;
    font-size: 14px;
    line-height: 17px;
    color: #000;
    outline: none;
    padding: 9px 0 10px;
    margin-bottom: 3px;
}

.popup__input:focus {
    border-bottom: 1px solid rgba(0,0,0);
}
