.news-card__image {
    display: block;
    height: 272px;
    background-size: cover;
    background-position: 50%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    cursor: pointer;
    width: 100%;
    margin:0;
    position: relative;
}

@media screen and (max-width: 820px) {
    .news-card__image {
        height: 150px;
    }
}

@media screen and (max-width: 536px) {
    .news-card__image {
        height: 196px;
    }
}