@import url('./_is-opened/popup_is-opened.css');
@import url('./__title/popup__title.css');
@import url('./__content/popup__content.css');
@import url('./__form/popup__form.css');
@import url('./__form-field/popup__form-field.css');
@import url('./__input-title/popup__input-title.css');
@import url('./__input-error/popup__input-error.css');
@import url('./__input/popup__input.css');
@import url('./__close/popup__close.css');
@import url('./__error-from-server/popup__error-from-server.css');
@import url('./__form-button/popup__form-button.css');
@import url('./__footer/popup__footer.css');
@import url('./__link/popup__link.css');

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
    z-index: 100000000;
}